{% load static %}
    <div class="links">
        <div class="categories">
            <a href="#"><img src="{% static 'images/icons8-watch.png' %}" class="category-image" /><p>закладки</p></a>
            <a href="#"><img src="{% static 'images/icons8-history.png' %}" class="category-image" /><p>история</p></a>
            <a href="#"><img src="{% static 'images/icons8-like.png' %}" class="category-image" /><p>нравиться</p></a>
        </div>
        <div class="channels">
            <a href="#"><img class="channel-avatar" /></a>
            <a href="#"><img class="channel-avatar" /></a>
            <a href="#"><img class="channel-avatar" /></a>
            <a href="#"><img class="channel-avatar" /></a>
            <a href="#"><img class="channel-avatar" /></a>
            <a href="#"><img class="channel-avatar" /></a>
            <a href="#"><img class="channel-avatar" /></a>
            <a href="#"><img class="channel-avatar" /></a>
            <a href="#"><img class="channel-avatar" /></a>
            <a href="#"><img class="channel-avatar" /></a>
            <a href="#"><img class="channel-avatar" /></a>
            <a href="#"><img class="channel-avatar" /></a>
        </div>
    </div>